# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*
!##*##

# Exclude folders
.bmx/
.vscode/
.bls-cache/
notes/
old/
message.samples/
test/

# Exclude files
*.bak
*.debug
*.old
*.sh
*.code-workspace
*.private
bls.config
runlog.txt
TODO.txt
testme

# TEMP IGNORE ALL
bin.old/
modserver-results/
notes.private/
pub.zlib/
tests/
*.csv
*.txt
packages.json


